@media only screen and (min-width: 530px) {

body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, lfr);
    justify-items: center;
}

.digestive {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 3;
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 500px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
    transform: translatey(0%,-165%);
    -ms-transform: translate(0%,-165%);
    -webkit-transform: translate(0%, -165%);
    opacity: 0;
    transition: 1s ease;
}

.digestive:hover .overlay {
    opacity: 1;
  }

h1 {
    font-family: 'Harlow Plain Regular';
    font-size: 6em;
}

h2 {
    font-family: "Harlow Solid Regular";
    font-size: 2em;
    text-align: center;
    transform: translatey(0%, 260%);
    -ms-transform: translate(0%, 260%);
    -webkit-transform: translate(0%, 260%);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.about {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 1;
}

.biscuits {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 2;
}

.contact {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 3;
}

a {
    text-decoration: none;
}

.button {
    background-color:white;
    opacity: 0.27;
    border: 2px solid black;
    padding: 12px 30px;
    text-decoration: none;
    font-family:"Roboto Bold";
    color: black;
}

.button:hover {
    opacity: 1;
    transition: 1s;
}

@font-face {
    font-family: "Harlow Solid Regulr";
    src: url(Harlow\ Solid\ Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Harlow Plain Regular";
    src: url(Harlow\ Plain\ Regular.otf) format("opentype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url(Roboto-Bold.ttf) format("truetype");
}

}

/* mobile */

@media only screen and (max-width: 530px) {

    body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, lfr);
    justify-items: center;
}

.digestive {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 3;
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 400px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
    transform: translatey(0%,-190%);
    -ms-transform: translate(0%,-190%);
    -webkit-transform: translate(0%, -190%);
}

h1 {
    font-family: 'Harlow Plain Regular';
    font-size: 3.5em;
    text-align: center;
}

h2 {
    font-family: "Harlow Solid Regular";
    font-size: 1.7em;
    text-align: center;
    transform: translatey(0%, 260%);
    -ms-transform: translate(0%, 260%);
    -webkit-transform: translate(0%, 260%);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.about {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 1;
}

.biscuits {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 2;
}

.contact {
    padding-top: 13.5px;
    grid-row-start: 4;
    grid-column-start: 3;
}

a {
    text-decoration: none;
}

.button {
    background-color:white;
    opacity: 0.5;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    font-family:"Roboto Bold";
    color: black;
    font-size: 0.8em;
}

.button:hover {
    opacity: 1;
    transition: 1s;
}

@font-face {
    font-family: "Harlow Solid Regulr";
    src: url(Harlow\ Solid\ Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Harlow Plain Regular";
    src: url(Harlow\ Plain\ Regular.otf) format("opentype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url(Roboto-Bold.ttf) format("truetype");
}

}